<a
style="cursor: pointer"
[routerLink]="[index]"
routerLinkActive="acitve"
class="list-group-item clearfix rec-list-item"
>
  <div class="desc-text">
    <h4 class="list-group-item-heading">{{ recipe.name }}</h4>
    <p class="list-group-item-text">{{ recipe.description }}</p>
  </div>
  <span class="desc-pic">
    <img src="{{ recipe.imagePath }}" alt="" class="img-responsive" style="">
  </span>
</a>
