.desc-text {
    float: left!important;
    width: 70%;
    max-height: 100px;
    overflow: hidden;
    padding-right: 16px;
    text-overflow: ellipsis;
}
.desc-pic {
    float: right!important;
    width: 30%;
}
.rec-list-item {
  margin-bottom: 8px;
}