<div class="row">
  <div class="col-xs-12 col-md-6 col-md-offset-3">
    <!-- <div class="alert alert-danger" *ngIf="error">
      <p>{{ error }}</p>
    </div> -->
    <!-- <app-alert [message]="error" *ngIf="error" (close)="onHandleError()"></app-alert> -->
    <ng-template appPlaceholder></ng-template>
    <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" *ngIf="!isLoading">
      <div class="form-group">
        <label for="email">E-mail</label>
        <input
          type="email"
          id="email"
          class="form-control"
          ngModel
          name="email"
          email
          required
          #email="ngModel"
        >
        <div class="error-message" *ngIf="!email.valid && email.touched">Please enter a valid email!</div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          class="form-control"
          name="password"
          required
          ngModel
          minlength="6"
          #password="ngModel"
        >
        <div class="error-message" *ngIf="!password.valid && password.touched">Please enter at least 6 characters!</div>
      </div>
      <div>
        <button
        class="btn btn-primary"
        type="submit"
        [disabled]="!authForm.valid"
        >{{ isLoginMode ? 'Login' : 'Sign Up'}}</button> |
        <button class="btn btn-primary" (click)="onSwitchMode()" type="button">Switch to {{ isLoginMode ? 'Sign Up' : 'Login'}}</button>
      </div>
    </form>
    <div *ngIf="isLoading" style="text-align: center">
      <app-loading-spinner></app-loading-spinner>
    </div>
  </div>
</div>